.category {
  align-self: center;
  width: 100%;
  background-color: $pampas;
  position: relative;
  top: 5rem;
  &__back_button {
    color: $pesto;
    background: none;
    border: none;
    font-family: $title;
    font-size: 23px;
    text-decoration: none;
    position: relative;
    left: 2rem;
    top: 1rem;
    &__left_arrow {
      margin-right: 1rem;
    }
  }
  &__back_button:hover {
    color: $pesto;
  }
  &__disclaimer {
    font-family: $title;
    text-align: center;
    color: $rock-spray;
    font-size: 30px;
    padding: 1rem 2rem;
    font-weight: bold;
  }
  &__create {
    width: 100%;
    display: flex;
    justify-content: center;
    &__button {
      color: $rock-spray;
      background-color: $sea-buckthorn;
      border: none;
      border-radius: 5px;
      font-size: 25px;
      font-family: $title;
      height: 3rem;
      padding: 0 1rem;
      margin: 1rem 0 0;
      cursor: pointer;
      &__plus {
        font-weight: bold;
        margin-left: 7px;
      }
    }
  }
  &__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    &__item {
      background-color: $sea-buckthorn;
      border: solid 4px $rock-spray;
      border-radius: 5px;
      display: flex;
      padding: 0 2rem 1rem;
      margin: 1rem;
      flex-direction: column;
      &__delete {
        position: relative;
        left: calc(100% + 1rem);
        top: 3px;
        width: fit-content;
        &__icon {
          color: $rock-spray;
        }
      }
      &__title {
        text-align: center;
      }
      &__button {
        border: none;
        border-radius: 5px;
        font-size: 20px;
        font-family: $title;
        height: 2rem;
        padding: 0 1rem;
        text-decoration: none;
        background-color: $rock-spray;
        color: $sea-buckthorn;
      }
    }
  }
}
