<section class="form">
  <div class="form__container">
    <%= link_to :back, class: "form__container__back_button" do %>
      <i class="fa-solid fa-left-long form__container__back_button__icon"></i>Revenir en arrière
    <% end %>
    <h1 class='form__container__title'>Publier nouvelle réalisation artistique</h1>
    <%= render 'form', artwork: @artwork %>
  </div>
</section>
