<section class="navbar">
  <div class="navbar__logo">
    <a class="navbar__logo__text" href='/'>ECHO DE MES PINCEAUX</a>
  </div>
  <div class="navbar__items">
    <div class="navbar__items__link">
      <a class="navbar__items__link__text" href='/'>Accueil</a>
    </div>
    <div class="navbar__items__link">
      <a class="navbar__items__link__text" href='/artworks'>Galerie</a>
    </div>
    <div class="navbar__items__link">
      <a class="navbar__items__link__text" href='/contacts'>Contact</a>
    </div>
  </div>
  <div class="navbar__burger">
    <button class='navbar__burger__button'><i class="fa-solid fa-bars navbar__burger__button__icon"></i></button>
    <div id='sidebar' class='navbar__burger__sidebar hidden'>
      <div class="navbar__items__link">
        <a class="navbar__items__link__text" href='/'>Accueil</a>
      </div>
      <div class="navbar__items__link">
        <a class="navbar__items__link__text" href='/artworks'>Galerie</a>
      </div>
      <div class="navbar__items__link">
        <a class="navbar__items__link__text" href='/contacts'>Contact</a>
      </div>
    </div>
    <div id='filter' class="filter hidden"></div>
  </div>
</section>
<script>
  const burger = document.getElementsByClassName('navbar__burger__button');
  const sidebar = document.getElementById('sidebar');
  const filter = document.getElementById('filter');
  burger[0].addEventListener('click', () => {
    sidebar.classList.toggle('hidden');
    filter.classList.toggle('hidden');
  });
</script>
