.navbar {
  height: 5rem;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  background-color: $rock-spray;
  color: $pampas;
  align-items: center;
  z-index: 4;
  padding: 0;
  &__logo {
    width: 50%;
    padding-left: 2rem;
    &__text {
      font-family: $logo;
      font-size: 50px;
      color: $pampas;
      text-decoration: none;
    }
    &__text:hover {
      color: $pampas;
    }
  }
  &__items {
    width: 50%;
    display: flex;
    justify-content: space-around;
    &__link {
      cursor: pointer;
      &__text {
        font-family: $title;
        font-weight: 500;
        font-size: 20px;
        color: $pampas;
        text-decoration: none;
      }
      &__text:hover {
        color: $pampas;
      }
    }
  }
  &__burger {
    display: none;
    &__button {
      margin-right: 1rem;
      &__icon {
        font-size: 37px;
        color: $sea-buckthorn;
      }
    }
  }
}

.filter {
  display: none;
}

@media screen and(max-width: 1015px) {
  .navbar {
    &__logo {
      &__text {
        font-size: 35px;
      }
    }
  }
}


@media screen and(max-width: 767px) {
  .navbar {
    justify-content: space-between;
    &__logo {
      width: fit-content;
    }
    &__items {
      display: none;
      &__link {
        margin-bottom: 2rem;
        font-family: $title;
      }
    }
    &__burger {
      display: flex;
      &__button {
        background: none;
        border: none;
      }
      &__sidebar {
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: $rock-spray;
        font-size: 20px;
        width: 40%;
        height: 100%;
        top: 5rem;
        right: 0;
        align-items: flex-end;
        padding-right: 1rem;
        transition: all 2s linear;
        z-index: 1;
      }
    }
  }
}

.filter {
  display: flex;
  width: 70%;
  background-color: #505050;
  opacity: 0.6;
  height: 100%;
  top: 5rem;
  left: 0;
  position: fixed;
}

.hidden {
  display: none;
}
